<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ohaqyrf@grkgzngr.bet</string>
	<key>contactName</key>
	<string>Allan Odgaard</string>
	<key>description</key>
	<string>Show indication in gutter for added/modified lines</string>
	<key>name</key>
	<string>SCM Diff Gutter</string>
	<key>uuid</key>
	<string>7A84ECFC-2683-4129-826D-51F05F7E668A</string>
</dict>
</plist>
